<video autoplay muted loop id="myVideo">
  <source src="<%= @video %>" type="video/mp4">
    Seu navegador é péssimo, atualize isso.
  </video>

   <%= video_tag "steam.mp4", controls: false, autoplay: true, muted:
true, loop: true, id: "bgvideobg", class: "fullscreen-bg-video", type:
"video/mp4" %>

<div class="container d-flex justify-content-center">
  <div class="col-xs-10 col-sm-6 p-3 login">
      <%= form_for(:session, url: login_path) do |f| %>
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
      <%= f.submit "Acessa Loja", class: "btn btn-md btn-dark text-center" %>
  <% end %>
  <!--Ao clicado chamamos a pagina new de usuario e suas paginas relacionadas-->
  <p class="m-20">Não tem conta? <%= link_to "Inscreva-se!", new_user_path %></p>    
  </div>
</div>
</div>