<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
        <%= form.label :password, "Senha" %>
        <!--Tipo de campo a ser gerado e nome que sera inserido no array-->
        <%= form.password_field :password %>
   </div>
  
  <div class="field">
        <%= form.label :password_confirmation, "Confirme sua senha" %>
        <%= form.password_field :password_confirmation %>
  </div>

  <div class="field">
    <%= form.label :region_id %>
    <%= form.select(:region_id, Region.all.collect { |region| [region.name, region.id] }) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
