<div class="jumbotron">
  <h1 class="display-4">InSteam Collection</h1>
  <p class="lead">Colecão completa de todos os seus games comprados por preços absurdos.</p>
  <hr class="my-4">

  <div class="container mb-5 mt-5">
    <div class="pricing card-deck flex-column flex-md-row mb-3">
      <% @my_games.each do |my| %>
        <div class="card card-pricing popular shadow text-center px-3 mb-4" style="background: url(<%= my.game.picture %>)">
          <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-primary text-white shadow-sm">
            <%= my.game.name %>
          </span>
          <div class="bg-transparent card-header pt-4 border-0">

          </div>
          <div class="card-body pt-0">
            <ul class="list-unstyled mb-4">
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
            <button class="btn btn-success btn-lg mb-3">              
              <%= link_to 'Play', 'go' %>
            </button>
          </div>
          <button class="btn btn-warning btn-lg mb-3">              
              <%= link_to 'Transferir', '' %>
            </button>
        </div>
        <% end %>
    </div>
  </div>
</div>