<div class="jumbotron text-center">
  <h1 class="display-4">InSteam Black Week</h1>
  <hr class="my-4">
  <p class="lead">de 20 até 98% de desconto em todos os jogos do ano</p>
</div>


<div class="container mb-5 mt-5">
  <div class="pricing card-deck flex-column flex-md-row mb-3">
    <% @games.each do |game| %>
      <div class="card card-pricing popular shadow text-center px-3 mb-4" style="background: url(<%= game.picture %>)">
        <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-primary text-white shadow-sm">
          <%= game.name %>
        </span>
        <div class="bg-transparent card-header pt-4 border-0">
          
        </div>
        <div class="card-body pt-0">
          <ul class="list-unstyled mb-4">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
          <button class="btn btn-dark btn-lg mb-3">
            <%= link_to 'Comprar', game %>
          </button>
        </div>
        <h1 class="h1 font-weight-normal text-light text-center mb-0" data-pricing-value="30">R$
            <span class="price"><%= game.price %></span>            
          </h1>
      </div>
      <% end %>
  </div>
</div>



<br>

<%= link_to 'New Game', new_game_path %>