<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @game.name %> 
</p>

<p>
  <strong>Description:</strong>
  <%= @game.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @game.price %>
</p>
<!--Dois pontos : siginifica que vamos pegar uma chave -> <%= params[:id] %>-->
<!--Verifica se é Admin da Plataforma-->
 <% if current_user.email == 'abel@id.uff.br' %>
  <%= link_to 'Edit', edit_game_path(@game) %> |
  <%= link_to 'Back', games_path %>
<% else %>  
  <td><%= link_to 'Comprar', comprar_game_path(@game.id), method: :post %></td>  
<% end %>

<p>
  <strong>Picture:</strong>   
  <%= image_tag @game.picture.url %>
  
</p>

