/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /*@import "bootstrap";*/
 
/*Login do sistema*/
button:focus {
    outline: 0;
}

.navbar .dropdown-menu .form-control {
    width: 200px;
}

.nav li {
    padding: 25px;
    font-size: 20px;
}

.card{
    background-size: cover!important;
    background-repeat: no-repeat!important;
    background-origin: initial!important;
}

.card a{
    color: #ffffff!important;
    font-weight: 500;
    text-decoration: none!important;
}