/*Cartoes*/
.card-pricing.popular {
  z-index: 1;
  border: 3px solid #007bff;
}

.card-pricing .list-unstyled li {
  padding: .5rem 0;
  color: #6c757d;
}

.card {
  min-width: 260px !important;
  max-width: 260px !important;
  min-height: 400px;
  margin-right: 10px !important;
  margin-left: 10px !important;
}
