// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*Cartoes*/
.card-pricing.popular {
    z-index: 1;
    border: 3px solid #007bff;
}
.card-pricing .list-unstyled li {
    padding: .5rem 0;
    color: #6c757d;
}

.card {    
    min-width: 260px!important;
    max-width: 260px!important;    
    min-height: 400px;
    margin-right: 10px!important;    
    margin-left: 10px!important;
}