// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.btn{
    margin: 20px 0px 10px 0px;
}

#bgvideobg {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

.login{
    background: #5f9ea0d9;
    border-radius: 1%;
    -webkit-box-shadow: 4px 4px 9px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    4px 4px 9px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         4px 4px 9px 0px rgba(50, 50, 50, 0.75);
}

